:root {
    --primary-400: hsl(259, 100%, 65%);
    --accent-400: hsl(0, 100%, 67%);

    --neutral-100: hsl(0, 0%, 100%);
    --neutral-200: hsl(0, 0%, 94%);
    --neutral-300: hsl(0, 0%, 86%);
    --neutral-400: hsl(0, 1%, 44%);
    --neutral-900: hsl(0, 0%, 8%);

    --fw-normal: 400;
    --fw-semi-bold: 700;
    --fw-bold: 800;
    --ff-poppins: 'Poppins', sans-serif;

    --fs-inputs: 32px;
}

/* Insert CSS Resets */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-poppins);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/* Reusable classes */

/* Color */
.color-primary-400 {
    color: var(--primary-400);
}

.color-accent-400 {
    color: var(--accent-400);
}

.color-neutral-100 {
    color: var(--neutral-100);
}

.color-neutral-200 {
    color: var(--neutral-200);
}

.color-neutral-300 {
    color: var(--neutral-300);
}

.color-neutral-400 {
    color: var(--neutral-400);
}

.color-neutral-900 {
    color: var(--neutral-900);
}

/* BG Color */
.bg-primary-400 {
    background-color: var(--primary-400);
}

.bg-accent-400 {
    background-color: var(--accent-400);
}

.bg-neutral-100 {
    background-color: var(--neutral-100);
}

.bg-neutral-200 {
    background-color: var(--neutral-200);
}

.bg-neutral-300 {
    background-color: var(--neutral-300);
}

.bg-neutral-400 {
    background-color: var(--neutral-400);
}

.bg-neutral-900 {
    background-color: var(--neutral-900);
}

.fw-normal {
    font-weight: var(--fw-normal);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

/* Icon */

.icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* TODO: Change */
    /* background-color: var(--primary-400); */
    display: grid;
    place-items: center;
}

.icon-arrow {
    width: var(--icon-width, 80%);
    height: var(--icon-height, 80%);
    display: inline-block;
    background-image: url(./assets/images/icon-arrow.svg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Submit */
.btn-submit {
    width: 50px;
    height: 50px;
    background-color: var(--primary-400);
    display: grid;
    place-content: center;

    border-radius: 50%;
    outline: none;
    border: 0;
    --icon-width: 25px;
    --icon-height: 25px;
}

.btn-submit:hover, .btn-submit:focus-within {
    cursor: pointer;
    background-color: var(--neutral-900);
    transition: background-color .3s;
}

/* Form Field */
.form-field {
    display: flex;
    flex-direction: column;
    gap: .35em;
    position: relative;
}

.form-field.error {
    color: var(--accent-400);
}

.form-field label {
    text-transform: uppercase;
    font-size: .85rem;
    color: var(--neutral-400);
    font-weight: var(--fw-semi-bold);
    letter-spacing: .15em;
    transition: all .35s;
}

.form-field.error label {
    font-weight: var(--fw-semi-bold);
    color: var(--accent-400);
}

.form-field input {
    font-size: 1.25rem;
    font-weight: var(--fw-bold);
    letter-spacing: .15em;
    padding: .75em;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--neutral-300);
    outline: 0;
    transition: border .45s;
    cursor: pointer;
}

.form-field.error input {
    border-color: var(--accent-400);
}

.form-field input:focus-within,  .form-field input:active{
    border-color: var(--primary-400);
}

.form-field.error input:focus-within,  .form-field.error input:active{
    border-color: var(--accent-400);
}

.form-field-error-message {
    font-style: italic;
    font-size: .6rem;
    position: absolute;
    bottom: -1.75rem;
}

/* Result */

.result {
    display: flex;
    font-weight: var(--fw-bold);
    font-size: 3.2rem;
    color: var(--neutral-900);
    font-style: italic;
    gap: .7rem;
}

.result .digit {
    color: var(--primary-400);
}

/* Main */
body {
    background-color: var(--neutral-200);
}

main {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.card {
    padding: 2.5rem 1.2rem;
    background-color: var(--neutral-100);
    max-width: 360px;
    border-radius: 10px;

    /* display: flex;
    flex-direction: column;
    gap: 2.5rem; */

    position: relative;
}

.card::before {
    /* Line */
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    display: block;
    background-color: var(--neutral-200);
    left: 0;
    top: 36.5%;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-form-container #form {
    display: flex;
    gap: 15px;
}

.card-form-container #form input {
    width: 100%;
    font-size: .85rem;
}

.card-form-container #form .btn-submit {
    position: absolute;
    top: 31.5%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.card-content {
    margin-top: 6rem;
}

@media screen and (min-width: 768px) {
    .card {
        max-width: 700px;
        padding-block: 1rem;
    }

    .card-wrapper {
        max-width: 75%;
        padding: 1.5rem;
    }

    .card::before {
        width: calc(75% + 3rem);
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .card-form-container #form .btn-submit {
        left: 75%;
        width: 70px;
        height: 70px;
        top: 30.5%;
    }

    .card-content .result-container .result {
        font-size: 3.8rem;
    }
}

.border-bottom-right {
    border-bottom-right-radius: 200px;
}

.result-animation {
    animation-name: show;
    animation-duration: .55s;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: .55;
    }

    100% {
        opacity: 1;
    }
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    font-size: .5rem;
    width: 100%;
}

.attribution {
    display: flex;
    justify-content: space-between;
    color: var(--neutral-400);
}

.attribution a {
    text-decoration: none;
    font-weight: 400;
    color: var(--primary-400);
    transition: color .35s;
}

.attribution a:hover, .attribution a:focus-within{
    color: var(--accent-400);   
}

.attribution .links {
    display: flex;
    gap: 1rem;
}